*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* display: flex; */

}
h1{
  justify-content: left;
  margin-top: 20px;
  margin-left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
}

.home1{
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
    min-height: 80vh;
    background-image: url("./images/banner-01.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.home1 h2{
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  margin-top: 10%;
  margin-left: 10%;
  font-size: 50px;
}
.home1 h2:hover{
  scale: 1.2;
  transition-duration: 1s;
  
}
nav{
  position: static;
}

nav ul{
    float:right;
    line-height: 80px;

}
nav ul:hover{
    background-color: rgba();
    color: #fff;
}
  ul li{
    display: inline-block;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px 5px;
}
  ul li a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}
  ul li a:hover{
    background-color: #eb7620;
    transition: 0.5s ease;
    color: white;
    
}
.properties{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.img{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-image: url("./images/featured.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10%;
  margin-left: 5%;
}
.img:hover{
  scale: 1.09;
  transition-duration: 1s;
  
}
.para1{
  display: inline-block;
  flex-wrap: wrap;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(208,4,1,.5));
  width: 80%;
  height: 320px;
  border-radius: 5px;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 9%;
  padding: 5px;
}
.para1:hover{
  background-color:aqua;
  scale: 1.05;
  transition-duration: 1s;
}
/*.span45{
  background-color: #eb7620;
  color: #fff;
}*/
.box1{
  background-color: bisque;
  width: 300px;
  height: 480px;
  margin-top: 10%;
  margin-left: 19%;
  border-radius: 10px;
}
.box1:hover{
  box-shadow: 2px 3px 1px yellow;
  scale: 1.09;
  transition-duration: 1s;
  
}
.box1 ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 20px;
}
.box1 ul:hover{
  scale: 1.1;
  transition-duration: 1s;
  color:#f40000;
}
.span1{
  color: red;
  margin-top: 20px;
  margin-left: 20px;
}
.featured{
  display: block;
  margin-top: 10%;
}
.featured h1{
  font-size: 40px;
  
}
.featured h3{
  color: red;
  margin-top: 30px;
  margin-left: 30px;
}
.featured p{
  margin-top: 30px;
  margin-left: 30px;
}
.span2{
  color: blue;
}
.featured h4{
  margin-top: 40px;
  margin-left: 80px;
  font-size: 25px;
}
.property1{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
    height: 60vh;
    background-image: url("./images/video-bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size:cover;
    margin-bottom: 40%;

}
.video h2{
  display: flex;
  flex-wrap: wrap;
  color: red;
  margin-left: 600px;
  margin-top: 90px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
.video h1{
  color: #fff;
  margin-left: 550px;
  font-size: 40px;
}
.img2{
  
  width: 800px;
  height: 400px;
  border-radius: 15px;
  background-image: url("./images/video-frame.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 10px;
  margin-top: 60px;
  margin-left: 20%;
}
.img2:hover{
  scale: 1.09;
  transition-duration: 2s;
}
.property2{
  background-color: #fff;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.box30{
  padding: 20px;
  border-radius: 10px;
}
.box34 h1{
  color: black;
  background-color: beige;
  margin-right: 10;
}
.box35{
   background-color: beige;
}
.box36{
 background-color: beige;
}
.span34{
  color: #eb7620;
}


.schedule{
  /* position: fixed; */
background-image: url("./images/property-02.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  /* background-image: linear-gradient(rgb(199, 88, 88), rgb(112, 112, 170), rgb(119, 143, 119)); */
}
.pop h1{
  display: flex;
  flex-wrap: wrap;
  color: red;
  margin-top: 20px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 590px;
}
.pop h2{
  margin-left: 500px;
  margin-top: 30px;
  font-size: 30px;
  letter-spacing: 3px;
}

.boxes1{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-top:30px;


}
.boxes1 h3{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 5px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


.box10{
  background-color: aliceblue;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  background-image: url("./images/single-property.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
 margin-left: 60px;
}
.box10 h1{
  display: inline-block;
  flex-wrap: wrap;
  color: black;
  font-size: 15px;
  background-color: rgb(227, 199, 155);
  margin-top: 175px;
  
}
.box10 h2{
  color: red;
  font-size: 20px;
  margin-left: 180px;
  
}


.box10 p{
  color:black;
  padding-top: 10px;
  margin-top: 60%;
  margin-left: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}


.bo10{
  background-color: red;
  padding: 5x;
  margin: 50px;border-radius:50px;
  background-color:darkred;
  color:white;
  text-align:center;
  padding:0;
  margin-left:60px;
  
}
.box10:hover{
  box-shadow: 8px 7px 1px greenyellow;
  scale: 1.1;
  transition-duration: 1s;
}
.bo1:hover{
  background-color:green;
}
.box2{
  background-color: aliceblue;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  background-image: url("./images/property-02.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
 margin-left: 80px;
 
 
}

.box2 h1{
  display: inline-block;
  color: black;
  font-size: 15px;
  background-color:linear-gradient(rgba(0,0,0,0.7),rgba(208,4,1,.5));
  margin-top: 230px;
  
}
.box2 h2{
  color: red;
  font-size: 20px;
  margin-left: 180px;
  
}
.box2:hover{
  box-shadow: 8px 7px 1px yellow;
  scale: 1.1;
  transition-duration: 1s;
}


.box2 p{
  color:black;
  padding-top: 10px;
  margin-top: 60%;
  margin-left: 10px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}


.bo10{
  background-color: red;
  padding: 5x;
  margin: 50px;border-radius:50px;
  background-color:darkred;
  color:white;
  text-align:center;
  padding:9px 90px 9px 90px;
  margin:20px;
  
}
.bo10:hover{
  background-color:green;
}
.box3{
  background-color: aliceblue;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  background-image: url("./images/property-03.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  
 margin-left:100px;
}

.box3 h1{
  display: inline-block;
  color: black;
  font-size: 15px;
  background-color: rgb(227, 199, 155);
  margin-top: 230px;
  
}
.box3 h2{
  color: red;
  font-size: 20px;
  margin-left: 180px;
  
}
.box3:hover{
  box-shadow: 8px 7px 1px rgba(208,4,1,.5);
  scale: 1.1;
  transition-duration: 1s;
}


.box3 p{
  color:black;
  padding-top: 10px;
  margin-top: 62%;
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.boxes1 .bo1{
   color: white;
   background-color: red;
   text-decoration: none;
   padding: 5px;
   border-radius: 10px;
   margin-top: 50px;
   margin-left: 90px;
}
.boxes1 .bo1:hover{
  background-color: green;
}
.boxes1 .bo2{
  color: white;
  background-color: red;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 90px;
}
.boxes1 .bo2:hover{
 background-color: green;
}
.boxes1 .bo3{
  color: white;
  background-color: red;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 90px;
}
.boxes1 .bo3:hover{
 background-color: green;
}
.best10{
  display: flex;
  
  /* flex-wrap: wrap; */
  margin-top: 30px;
}

@media screen and (max-width:600px) {
  .best10{
    background-color: black;
    display: none;
  }
  .bestdel{
    /* display: none; */
  }
  .bestdel h2{
    display: none;
  }
  .best2{
    display: block;
  }
  .bestt3{
    width: 300px;
    height: 450px;
    /* overflow: auto; */
    /* display: none; */
  }
  .para1{
    overflow: auto;
  }
  .video h2{
    margin-left: 20px;
  }
  .video h1{
    margin-left: 30px;
  }
  .cont{
    margin-left: 10px;
  }
  .ifram{
    display: none;
  }
  .pop h2{
    display: none;
  }
  .pop h1{
    margin-left: 20px;
    color: #eee;
  }
  .boxes1{
    display: flex;
  }
  .box10{
    margin-top: 400px;
  }
  .box2{
    margin-top: 45px;
  }
  .box3{
    margin-top: 50px;
  }
}
.pop h1{
  color: #eee;
}
.best{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(214, 214, 202);
  width: 100%;
  height: 100vh;
  
}
.bestdel h1{
  color: red;
  font-size: 27px;
  
}
.bestdel h2{
  color: black;
  font-size: 30px;
  margin-left: 600px;
  margin-top: 40px;
}
.bestdel h2:hover{
  scale: 1.05;
  transition-duration: 1se;
}
.best1{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(230, 217, 199);
  width: 310px;
  height: 410px;
  border-radius: 10px;
  
  background-repeat: no-repeat;
  background-size: 100%;
 margin: 20px;
}
.best1:hover{
  scale: 1.1;
  transition-duration: 1s;
}



.best2{
  
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 400px;
  border-radius: 10px;
  background-image: url("./images/property-05.jpg");
  background-repeat: no-repeat;
   background-size: 100%;
   margin-left: 40px;
   margin-top: 20px;

 
}
.best2:hover{
  outline: rgba(0,0,0,0.7);
  scale: 1.1;
}


.best3{
  display: flex;
  flex-wrap: wrap;
  background-color:antiquewhite;
  width: 450px;
  height: 400px;
  border-radius: 10px;
  margin-left:40px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 20px;
  
 
}
.best3:hover{
  scale: 1.05;
}
.best3 p{
  color: black;
  padding: 9px;
}
.best3 .bn3{
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 2px;
  margin-left: 70px;
  margin-top: 20px;
  letter-spacing: 1px;
}
.best3 .bn3:hover{
  background: darkred;
  scale: 1.1;
}
.bnn3{
  background-color: #eb7620;
  color: #fff;
  padding: 5px;
}
.bnnn3{
  color: #fff;
  background-color: black;
 padding: 5px;
}
.bnnnn3{
  color: #fff;
  background-color: black;
  padding: 5px;
}
.buv{
  
  float:right;
  line-height: 10px;
  margin-bottom: 10px;
}
.door ul{
  color: blue;
  padding: 2px;
  
}
nav.door :hover{
  background-color:antiquewhite;
}
.door ul:hover{
  background-color: non;
  color:black;
}
.door:hover{
  color: black;
}
span{
  color: red;
  margin-right: 30px;
}
.span45{
  color: black;
  background-color: #eb7620;
  background-size: cover;
  margin-top: 33%;
  width: 3%;
  height: 10%;
  border-radius: 20%;
  transform: translateX(10);
}
.contact1{display: flex;
  flex-wrap: wrap;
  background-image: url("./images/video-bg.jpg");
  width: 100%;
  height: 60vh;
}
.contact2{
  background-color: aliceblue;
  background-size: cover;

}
.contact1 h1{
  color: red;
  margin-left: 500px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  
}
.contact1 h2{
  color: #fff;
  font-size: 50px;
  margin-left: 450px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact1 h3{
  color: #fff;
  font-size: 40px;
  margin-left: 490px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.ifram{

  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  /* background-image: ; */
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 10px;
  margin-top: -290px;
  margin-left: 50px;
}
.cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 30px;
}
.cosp{
  margin: 20px;
}
.conba{
  display: flex;
  flex-wrap: wrap;
background-image: url("./images/contact-bg.jpg");
width: 100%;
height: 20vh;
color: white;
margin-top: 10%;
margin-bottom: 5%;
}

